<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>Hello！！！</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <% result = connection.exec("select * from crops WHERE length>=0 AND quality = false;") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "ゴーヤの品質：#{record["quality"]} 長さ：#{record["length"]}" %>
    <% end %>
    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、ゴーヤの品質と長さの情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>


    <% result = connection.exec("select * from crops WHERE give_for!='自家消費' AND weight >= 0;") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "譲渡先：#{record["give_for"]} 重さ：#{record["weight"]}" %>
    <% end %>

    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、譲渡先が自家消費ではないゴーヤと重さの情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>


  </body>
</html>